*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-nav{
    background-color:#404eed;
    /* debug */
    min-height: 100px;
    border: 2px solid black;
}
.header-main{
    background-color: #404eed;
    /* debug */
    min-height: 500px;
}
main{
    display: flex;
    flex-direction: column;
}
.sezione{
    display: flex;
    /* debug */
    min-height: 400px;

}
.foto{
    width: 60%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}
.testo{
    width:40%;
    min-height: 200px;
}
.download{
    min-height: 200px;
}
.grigia{
    background-color: grey;
    flex-flow: row-reverse;
}
.sezionegrande{
    display: flex;
    flex-direction: column;
    /* debug */
}
.sezionegrande>section{
    width: 100%;
    min-height: 600px;
}

footer{
    background-color: black;
    /* debug */
    min-height: 800px;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 1px solid red;
    /* debug */
    min-height: 600px;

}
.footer-row{
    align-items: baseline;
    /* debug */
    width: 15%;
    background-color: red;
    border: 1px solid black;
}
.footer-infobox{
    align-items: baseline;
    /* debug */
    width: 25%;
    background-color: red;
    border: 1px solid black;
}
}